extends sidebar 

block main 
  main
    div
      h1= title
      a(href='/stocks/category/create') Create new category 

    ul 
      each category in categories 
        li 
          h4= category.name 
          a(href=category.url+'/update') Update
          a(href=category.url+'/delete') Delete  
      else 
        li There are no Category