doctype html
html
  head
    title= title
    link(
      rel='stylesheet', 
      href='/stylesheets/style.css'
    )
    if adtnlCss 
      link(rel='stylesheet' href=adtnlCss)
  body
    header 
      a(href='/home')
        h1 Ihawan Corner
      a(href='/menu')
        p Menu
    
    block content
