doctype html
html
  head
    title= title
    link(
      rel='stylesheet', 
      href='/stylesheets/style.css'
    )
    if adtnlCss 
      link(rel='stylesheet' href=adtnlCss)
  body
    block content
